<div class="container">
  <div class"row">
    <div class="col-lg-8 mx-auto">
    <h2 class="pb-3">取引先会社編集</h2>
    <div class="form-group">
    <%= form_with model:@client, url:admin_client_path, method: :patch, local:true do |f| %>
      <label for="name">会社名</label><br>
      <%= f.text_field :name, placeholder: "会社名を入力" %><br>

      <label for="zipcode">郵便番号</label><br>
      <%= f.text_field :zipcode, placeholder: "郵便番号を入力" %><br>

      <label for="address">住所</label><br>
      <%= f.text_field :address, placeholder: "住所を入力" , size:50 %><br>

      <label for="phone_number">電話番号</label><br>
      <%= f.text_field :phone_number, placeholder: "電話番号を入力" %><br>

      <label for="supervisor">担当者名</label><br>
      <%= f.text_field :supervisor, placeholder: "担当者名を入力" %><br>

      <label for="supervisor_phone_number">担当者電話番号</label><br>
      <%= f.text_field :supervisor_phone_number, placeholder: "電話番号を入力" %><br>
      <br>
      <%= f.submit ' 保存 ', class:"btn btn-success" %>
    <% end %>
    </div>
    <div>
      <%= link_to :back do %>
        <button class="btn btn-dark">戻る</button>
      <% end %>
    </div>
    </div>
  </div>
</div>