<div>
  <h2>取引先会社一覧・追加</h2>
  <div>
    <%= form_with model:@client, url:admin_clients_path, local:true do |f| %>
      <label for="name">会社名</label>
      <%= f.text_field :name, placeholder: "会社名を入力" %>

      <label for="zipcode">郵便番号</label>
      <%= f.text_field :zipcode, placeholder: "郵便番号を入力" %>

      <label for="address">住所</label>
      <%= f.text_field :address, placeholder: "住所を入力" %>

      <label for="phone_number">電話番号</label>
      <%= f.text_field :phone_number, placeholder: "電話番号を入力" %>

      <label for="supervisor">担当者名</label>
      <%= f.text_field :supervisor, placeholder: "担当者名を入力" %>

      <label for="supervisor_phone_number">担当者電話番号</label>
      <%= f.text_field :supervisor_phone_number, placeholder: "電話番号を入力" %>
      <%= f.submit ' 登録 ' %>
    <% end %>
  </div>
  <div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>会社名</th>
            <th>郵便番号</th>
            <th>住所</th>
            <th>電話番号</th>
            <th>担当者名</th>
            <th>担当者</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
          <tr>
            <td>
              <%= client.name %>
            </td>
            <td>
              <%= client.zipcode %>
            </td>
            <td>
              <%= client.address %>
            </td>
            <td>
              <%= client.phone_number %>
            </td>
            <td>
              <%= client.supervisor %>
            </td>
            <td>
              <%= client.supervisor_phone_number %>
            </td>
            <td>
              <%= link_to '編集する', edit_admin_client_path(client.id) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>