
<div class="container">
  <div class"row">
    <div class="col-lg-6 mx-auto">
      <h2 class="my-4">スケジュール新規登録</h2>
      <table class="table">
        <%= form_with model: @event, url: admin_events_path, local: true do |f| %>
        <tr>
          <td class="text-center">作業者</td>
          <td><%= f.select :worker_id, options_from_collection_for_select(Worker.all, :id, :name) %></td>
        </tr>
        <tr>
          <td class="text-center">要件＊</td>
          <td><%= f.text_field :title, autofocus: true, class: 'form-control' %></td>
        </tr>
        <tr>
          <td class="text-center">内容＊</td>
          <td><%= f.text_area :content, size:'50x4', class: 'form-control' %></td>
        </tr>
        <tr>
          <td class="text-center">時刻＊</td>
          <td><%= f.datetime_select :start_time %></td>
        </tr>
        <tr>
          <td class="text-center"></td>
          <td class="text-center"><%= f.submit '登録', class:"btn btn-outline-success" %></td>
        </tr>
        <tr>
          <td class="text-center"></td>
          <td class="text-center"><%= link_to '戻る', admin_events_path, class:"btn btn-outline-dark" %></td>
        </tr>

        <% end %>
      </table>
    </div>
  </div>
</div>