<div class="container">
  <div class="row mx-auto">
    <div class="col-lg-6 mx-auto">
      <div class="h-550">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="sign-in-form">
            <h2>管理者専用</h2>
          </div>

          <div class="sign-in-form">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control' %>
          </div>

          <div class="sign-in-form">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? %>
          <div class="sign-in-form">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end %>

          <div class="sign-in-submit">
            <%= f.submit "ログイン", class:"btn btn-success" %>
          </div>
          
          <div class="sign-in-link"><%= link_to '共同アカウントはこちらから', new_shared_user_session_path, class: 'link-success' %></div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>
