<% if record.start_time == nil %>
  <%= form_with model:record, url:record_path(record), local:true do |f| %>
    <%= f.hidden_field :record, value: record %>
    <%= f.hidden_field :start_time, value: Time.now %>
    <%= f.submit "作業開始" %>
  <% end %>
<% end %>

<% if record.start_time != nil && record.finish_time == nil %>
  <%= form_with model:record, url:record_path(record), local:true do |f| %>
    <%= f.hidden_field :record, value: record %>
    <%= f.hidden_field :finish_time, value: Time.now %>
    <%= f.submit "作業終了" %>
  <% end %>
<% end %>

<% if record.start_time != nil %>
<br>
<p>開始時刻</p>
  <%= record.start_time.strftime( "%H:%M" ) %>
<% end %>

<% if record.finish_time != nil %>
<br>
<p>終了時刻</p>
  <%= record.finish_time.strftime( "%H:%M" ) %>
<% end %>

<% if record.start_time != nil && record.finish_time != nil %>
<p>作業時間</p>
  <%= ((record.finish_time - record.start_time).to_i / 3600.0).round(1) %>時間
<% end %>