<div>
  <h3><%= @record.name %></h3>
  <div>
    <div>
      <table class="table">
        <tbody>
          <tr>
            <td>取引先</td>
            <td><%= @record.client.name %></td>
          </tr>
          <tr>
            <td>作業者</td>
            <td><%= @record.worker.name %></td>
          </tr>
          <tr>
            <td>作業内容</td>
            <td><%= @record.body %></td>
          </tr>
          <tr>
            <td>写真</td>
            <td>
              <div class="image">
                <%= attachment_image_tag @record, :image, :fill, 250, 220, fallback: "", size: "250x220" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>作業登録日時</td>
            <td><%= @record.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
        </tbody>
      </table>
      <div><%= render 'time', record: @record %></div>
      作業フェーズ<%= @record.work_status_i18n %>
      <div><%= render 'a_comment', record: @record %></div>
      <div><%= render 'p_comment', record: @record %></div>
      <div>
        <%= form_with model:[@record, @public_comment], url: public_record_public_comments_path(@record), local: true do |f| %>
          <%= f.text_area :comment,placeholder: "コメントをここに" %>
          <%= f.submit "コメント" %>
        <% end %>
      </div>
    </div>
  </div>
</div>