<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="mt-4"><%= @record.name %></h2>
      <table class="table">
        <tbody>
          <tr>
            <td class="text-center">取引先</td>
            <td class="text-center"><%= @record.client.name %></td>
          </tr>
          <tr>
            <td class="text-center">作業者</td>
            <td class="text-center"><%= @record.worker.name %></td>
          </tr>
          <tr>
            <td class="text-center">作業内容</td>
            <td class="text-center"><%= @record.body %></td>
          </tr>
          <tr>
            <td class="text-center">写真</td>
            <% if @record.image != nil %>
            <td>
              <div class="image">
                <%= attachment_image_tag @record, :image, :fill, 250, 220, fallback: "", size: "250x220" %>
              </div>
            </td>
            <% else %>
            <td class="text-center">写真はありません</td>
            <% end %>
          </tr>
          <tr>
            <td class="text-center">作業登録日時</td>
            <td class="text-center"><%= @record.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr id="work_status_<%= @record.id %>">
            <%= render 'work_status', record: @record %>
          </tr>
          <tr id="start_time_<%= @record.id %>">
            <%= render 'start_time', record: @record %>
          </tr>
          <tr id="finish_time_<%= @record.id %>">
            <%= render 'finish_time', record: @record %>
          </tr>
          <tr id="working_time_<%= @record.id %>">
            <%= render 'working_time', record: @record %>
          </tr>
          <tr>
            <td class="text-center"><%= link_to '戻る', records_path, class:"btn btn-dark" %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <%= render 'p_comment', record: @record %>
      <div class="comment-form-group">
        <div class="comment-form">
          <%= form_with model:[@record, @public_comment], url: record_public_comments_path(@record), local: true do |f| %>
          <%= f.text_field :comment,placeholder: "コメントをここに", class:"form-control"%>
        </div>
        <div class="comment-submit">
          <%= f.submit "送信", class:"btn btn-outline-success" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render 'a_comment', record: @record %>
    </div>
  </div>
</div>