<%= form_with model:@contact, url: admin_contacts_confirm_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, 'お名前*' %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :email, 'email*' %>
    <%= f.text_field :email, size: '10x10', class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :phone_number, '電話番号*' %>
    <%= f.text_field :phone_number, size: '10x10', class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, size: '10x10', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :message, 'メッセージ*' %>
    <%= f.text_area :message, size: '10x10', class: 'form-control' %>
  </div>

  <div>
    <%= f.submit '入力内容確認' %>
  </div>
<% end %>