<table class='table'>
  <thead class="thead-dark">
    <tr>
      <th>取引先名</th>
      <th>作業者</th>
      <th>作業名</th>
      <th>作業フェーズ</th>
      <th>作成日時</th>
    </tr>
  </thead>
  <tbody>
    <% records.each do |record| %>
      <tr>
        <td><%= record.client.name %></td>
        <td><%= record.worker.name %></td>
        <td><%= link_to record.name, admin_record_path(record) %></td>
        <td><%= record.work_status_i18n %></td>
        <td><%= record.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    <% end %>
    <%= paginate records %>
  </tbody>
</table>