<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mt-4">作業記録一覧</h2>
      <div class="search-form-group">
        <div class="search-form">
        <%= search_form_for @q, url: a_worker_search_path, local: true do |f| %>
          <%= f.collection_select :worker_id_eq, @workers, :id, :name , include_blank: '指定なし', class:"form-control" %>
          <%= f.submit '作業者で検索', class: "btn btn-primary" %>
        <% end %>
        </div>
        <div class="search-form">
        <%= search_form_for @q, url: a_client_search_path, local: true do |f| %>
          <%= f.collection_select :client_id_eq, @clients, :id, :name , include_blank: '指定なし', class: "form-control" %>
          <%= f.submit '取引先で検索', class: "btn btn-primary" %>
        <% end %>
        </div>
        <div class="search-form">
        <%= search_form_for @q, url: a_date_search_path, local: true do |f| %>
          <%= f.date_field :created_at_gteq, include_blank: true, class: 'date-edit' %>~
          <%= f.date_field :created_at_lteq_end_of_day, include_blank: true, class: 'date-edit' %>
          <%= f.submit '作成日で検索', class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
      <%= render 'index', records: Record.page(params[:page]).reverse_order.per(9) %>
    </div>
  </div>
</div>