<div>
  <h3><%= @record.name %></h3>
  <div>
    <div>
      <table class="table">
        <tbody>
          <tr>
            <td>取引先</td>
            <td><%= @record.client.name %></td>
          </tr>
          <tr>
            <td>作業者</td>
            <td><%= @record.worker.name %></td>
          </tr>
          <tr>
            <td>作業内容</td>
            <td><%= @record.body %></td>
          </tr>
          <tr>
            <td>写真</td>
            <td>
              <div class="image">
                <%= attachment_image_tag @record, :image, :fill, 250, 220, fallback: "", size: "250x220" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>作業登録日時</td>
            <td><%= @record.created_at.strftime('%Y/%m/%d') %></td>
          </tr>

          <% if @record.start_time != nil %>
            <tr>
              <td>開始時刻</td>
              <td><%= @record.start_time.strftime( "%H:%M" ) %></td>
            </tr>
          <% end %>

          <% if @record.finish_time != nil %>
            <tr>
              <td>終了時刻</td>
              <td><%= @record.finish_time.strftime( "%H:%M" ) %></td>
            </tr>
          <% end %>

          <% if @record.start_time != nil && @record.finish_time != nil %>
          <tr>
            <td>作業時間</td>
            <td>
              <%= ((@record.finish_time - @record.start_time).to_i / 3600.0).round(1) %>時間
            </td>
          </tr>
          <% end %>
          <tr>
            <td>作業フェーズ</td>
            <td><%= @record.work_status_i18n %></td>
          </tr>
          <% if @record.confirmationed_by?(@record) %>
          <tr>
            <td>確認を取り消す</td>
            <td><%= link_to "確認を取り消す", admin_record_confirmation_path(@record), method: :delete %></td>
          </tr>
          <% else %>
          <tr>
            <td>確認する</td>
            <td><%= link_to "確認する", admin_record_confirmation_path(@record), method: :post %></td>
          </tr>
          <% end %>
          
        </tbody>
      </table>
      <%= link_to "編集する", edit_admin_record_path(@record) %>
      <div><%= render 'p_comment', record: @record %></div>
      <div><%= render 'a_comment', record: @record %></div>
      <div>
        <%= form_with model:[@record, @admin_comment], url: admin_record_admin_comments_path(@record), local: true do |f| %>
          <%= f.text_area :comment,placeholder: "コメントをここに" %>
          <%= f.submit "コメント" %>
        <% end %>
      </div>
    </div>
  </div>
</div>