<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container">
      <div class="application-logo">
        <h1 class="application-name">JOB</h1>
        <% if shared_user_signed_in? %>
          <%= link_to root_path do %><div class="namazu_bousai"></div><% end %>
        <% elsif admin_signed_in? %>
          <%= link_to admin_path do %><div class="namazu_bousai"></div><% end %>
        <% else %>
          <%= link_to root_path do %><div class="namazu_bousai"></div><% end %>
        <% end %>
        <h1 class="application-name">CHECK</h1>
      </div>

      <div class="application-logo-responsive">
        <% if shared_user_signed_in? %>
          <%= link_to root_path do %><div class="fish_namazu"></div><% end %>
        <% elsif admin_signed_in? %>
          <%= link_to admin_path do %><div class="fish_namazu"></div><% end %>
        <% else %>
          <%= link_to root_path do %><div class="fish_namazu"></div><% end %>
        <% end %>
      </div>

      <div id="sp-menu">
        <h2 class="menu-title">JobCheck</h2>
        <ul>
        <% if shared_user_signed_in? %>
          <li><%= link_to '作業新規登録', new_record_path, class: 'nav-link text-light' %></li>
          <li><%= link_to '作業記録一覧', records_path, class: 'nav-link text-light' %></li>
          <li><%= link_to 'スケジュール', events_path, class: 'nav-link text-light'%></li>
          <li><%= link_to 'ログアウト', destroy_shared_user_session_path, method: :delete, class: 'nav-link text-light' %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to '作業記録一覧', admin_records_path, class: 'nav-link text-light' %></li>
          <li><%= link_to '作業者一覧', admin_workers_path, class: 'nav-link text-light' %></li>
          <li><%= link_to '取引先一覧', admin_clients_path, class: 'nav-link text-light'%></li>
          <li><%= link_to 'スケジュール', admin_events_path, class: 'nav-link text-light'%></li>
          <li><%= link_to 'お問い合わせ', new_admin_contact_path, class: 'nav-link text-light'%></li>
          <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %></li>
        <% else %>
          <li><%= link_to '管理者ログイン', new_admin_session_path, class: 'nav-link text-light' %></li>
        <% end %>
        </ul>
      </div>
      <!--アイコン-->
      <div id="hm-icon">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        <% if shared_user_signed_in? %>
          <li class="nav-list"><%= link_to '作業新規登録', new_record_path, class: 'nav-link text-light' %></li>
          <li class="nav-list"><%= link_to '作業記録一覧', records_path, class: 'nav-link text-light' %></li>
          <li class="nav-list"><%= link_to 'スケジュール', events_path, class: 'nav-link text-light'%></li>
          <li class="nav-list"><%= link_to 'ログアウト', destroy_shared_user_session_path, method: :delete, class: 'nav-link text-light' %></li>
        <% elsif admin_signed_in? %>
          <li class="nav-list"><%= link_to '作業記録一覧', admin_records_path, class: 'nav-link text-light' %></li>
          <li class="nav-list"><%= link_to '作業者一覧', admin_workers_path, class: 'nav-link text-light' %></li>
          <li class="nav-list"><%= link_to '取引先一覧', admin_clients_path, class: 'nav-link text-light'%></li>
          <li class="nav-list"><%= link_to 'スケジュール', admin_events_path, class: 'nav-link text-light'%></li>
          <li class="nav-list"><%= link_to 'お問い合わせ', new_admin_contact_path, class: 'nav-link text-light'%></li>
          <li class="nav-list"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %></li>
        <% else %>
          <li><%= link_to '管理者ログイン', new_admin_session_path, class: 'nav-link text-light' %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>